{% extends 'base_user.html' %}

{% block Title%}
Страхование банковских карт
{% endblock %}

{% block body %}
<style>
    .photo-button {
      display: inline-block;
      text-decoration: none;
      color: black;
      margin-top: 10px;
      transition: transform 0.5s ease;

    }

    .photo-button img {
      width: 280px;
      height: auto;
      margin-right: 20px;
      margin-left: 20px;
      border-radius: 8px;
    }

    .photo-button:hover {
      transform: scale(1.05);
    }

    .text_image {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    }

    .all_textt {
    margin-top: 30px;
    font-size: 18px
    }

    .all_text {
    margin-top: 20px;
    font-size: 18px
    }

    .aaa {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;

    }

    .aaa:hover {
    color: red;
    }

    .zagolovok {
    margin-top: 40px;
    }

    .btn {
  background-color: #02E2A6;
  width: 200px;
  height: 70px;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: transform 0.2s;
}

.btn:hover {
  background-color: #5AE8B2; /* Измените цвет на желаемый */
  color: white;
  border-color: #5AE8C6;
  transform: scale(1.05);
}
    <style>
    .wpdtSimpleTable {
        border-collapse: collapse;
    }
    .wpdtSimpleTable td, .wpdtSimpleTable th {
        border: 1px solid black;
        padding: 10px;
    }
</style>
</style>

<h1>Страхование банковских карт</h1>

<p class="all_text">В современном мире банковские платежные карты стали неотъемлемой частью нашей жизни, которые позволяют не только удобно расплачиваться за товары и услуги, но и являются значимым инструментом для накопления и хранения денежных средств.</p>
<p class="all_text">Вместе с тем, не дремлют и разного рода мошенники, пытающиеся незаконно завладеть средствами других людей. Уже у каждого на слуху рассказы о попытках обмана через телефонные мессенджеры, кражах денег с карт и о других непредвиденных ситуациях. Что делать в таких ситуациях и как защитить себя и своих близких от финансовых потерь? Asoba предлагает решение!</p>

<h3 class="zagolovok">Общая информация</h3>
<p class="all_text">Страхование от Clover - надежная защита и гарантия спокойствия для владельцев банковских платежных карточек.</p>

<p class="all_text"><b>Страхование банковских платежных карт включает следующие риски:</b></p>
<ul class="all_text">
    <li>Утери или хищения карточки;</li>
    <li>Случайного повреждения карты (размагничивание, механическая поломка и пр.);</li>
    <li>Утраты карточки вследствие неисправной работы банкомата;</li>
    <li>Кражи денежных средств со счета карты (например, когда злоумышленники завладели Вашей картой, Пин-кодом, использовали поддельную карту и т.п.)</li>
    <li>Несанкционированного списания денежных средств со счета карточки с применением способов интернет-мошенничества (например, переход по ложным ссылкам, посещение «зеркальных» сайтов, раскрытие персональных данных и пр.);</li>
    <li>Хищения наличных денег, полученных в банкомате, путем грабежа, разбоя (в течение 2-х часов после снятия).</li>
    <li>Списания денежных средств со счета при использовании мошенниками мобильного телефона, умных часов держателя карточки, к учетной записи которых подключена платежная карта.</li>
    <li>Понесения расходов по замене мобильного телефона, умных часов, которые украли одновременно с платежной карточкой.</li>
</ul>

<p class="all_text">Страховая компания Asoba выплатит сумму снятых со счета денежных средств или украденных наличных (в рамках страховой суммы). А также возместит расходы на перевыпуск  карты, а также покроет затраты на восстановление украденных вместе с картой документов, ключей, сим-карты мобильного телефона.</p>
<h3 class="zagolovok">Стоимость страхования</h3>


<p class="all_text">Вы можете выбрать любую страховую сумму, на которую будет застрахована карта. Лучше ориентироваться на максимальный размер денежных средств, который обычно находится на карточке.</p>
<p class="all_text">Примерный размер страхового взноса при страховании сроком на год представлен ниже.</p>

<div>
<div class="wpdt-c row wpDataTableContainerSimpleTable wpDataTables wpDataTablesWrapper">
    <table id="wpdtSimpleTable-26" class="wpdtSimpleTable wpDataTable" data-column="4" data-rows="5" data-wpid="26" data-responsive="0" data-has-header="0" style="border-collapse: collapse; border: 1px solid black;">

                    <tbody>        <tr class="wpdt-cell-row ">
                            <td class="wpdt-cell wpdt-align-center wpdt-merged-cell " colspan="1" rowspan="2" data-cell-id="A1" data-col-index="0" data-row-index="0" style=" width:28.571428571429%;                padding:10px;">
                                Риски, принимаемые на страхование                </td>
                                            <td class="wpdt-cell  wpdt-merged-cell " colspan="3" rowspan="1" data-cell-id="B1" data-col-index="1" data-row-index="0" style=" width:71.428571428571%;                padding:10px;">
                                Страховая сумма, бел.руб.*                </td>
                                                                </tr>
                            <tr class="wpdt-cell-row ">
                                        <td class="wpdt-cell " data-cell-id="B2" data-col-index="1" data-row-index="1" style="                padding:10px;">
                                1000                </td>
                                            <td class="wpdt-cell " data-cell-id="C2" data-col-index="2" data-row-index="1" style="                padding:10px;">
                                1500                </td>
                                            <td class="wpdt-cell " data-cell-id="D2" data-col-index="3" data-row-index="1" style="                padding:10px;">
                                2000                </td>
                                        </tr>
                            <tr class="wpdt-cell-row ">
                            <td class="wpdt-cell " data-cell-id="A3" data-col-index="0" data-row-index="2" style="                padding:10px;">
                                пункт 1-6                </td>
                                            <td class="wpdt-cell " data-cell-id="B3" data-col-index="1" data-row-index="2" style="                padding:10px;">
                                6,50                </td>
                                            <td class="wpdt-cell " data-cell-id="C3" data-col-index="2" data-row-index="2" style="                padding:10px;">
                                9,75                </td>
                                            <td class="wpdt-cell " data-cell-id="D3" data-col-index="3" data-row-index="2" style="                padding:10px;">
                                13,00                </td>
                                        </tr>
                            <tr class="wpdt-cell-row ">
                            <td class="wpdt-cell " data-cell-id="A4" data-col-index="0" data-row-index="3" style="                padding:10px;">
                                пункт 1-7                </td>
                                            <td class="wpdt-cell " data-cell-id="B4" data-col-index="1" data-row-index="3" style="                padding:10px;">
                                7,50                </td>
                                            <td class="wpdt-cell " data-cell-id="C4" data-col-index="2" data-row-index="3" style="                padding:10px;">
                                11,25                </td>
                                            <td class="wpdt-cell " data-cell-id="D4" data-col-index="3" data-row-index="3" style="                padding:10px;">
                                15,00                </td>
                                        </tr>
                            <tr class="wpdt-cell-row ">
                            <td class="wpdt-cell " data-cell-id="A5" data-col-index="0" data-row-index="4" style="                padding:10px;">
                                пункт 1-8                </td>
                                            <td class="wpdt-cell " data-cell-id="B5" data-col-index="1" data-row-index="4" style="                padding:10px;">
                                8,60                </td>
                                            <td class="wpdt-cell " data-cell-id="C5" data-col-index="2" data-row-index="4" style="                padding:10px;">
                                12,90                </td>
                                            <td class="wpdt-cell " data-cell-id="D5" data-col-index="3" data-row-index="4" style="                padding:10px;">
                                17,20                </td>
                                        </tr>
                    </tbody></table>
</div><style id="wpdt-custom-style-26">
</style>
<style>

                                            /* table font size */
    .wpdt-c.wpDataTablesWrapper table.wpdtSimpleTable,
    .wpdt-c .wpDataTablesWrapper table.wpDataTable {
        font-size:12px !important;
    }

                </style>
</div>

<p class="all_text">Стоимость услуг в таблице указана с учетом единовременной уплаты взноса, но возможна оплата в рассрочку.</p>
<p class="all_text">* Примерный размер страхового взноса за год представлен в таблице. Кроме этого, в Личном кабинете Clover Вы можете всего за пару минут рассчитать взнос на любую страховую сумму самостоятельно.</p>
<h3 class="zagolovok">Дополнительная информация</h3>
<p class="all_text">Преимущества страхования карточки в Asoba:</p>

<ul class="all_text">
    <li>-   выбор любой страховой суммы;</li>
    <li>-   возможность страхования нескольких карт;</li>
    <li>-   возможность страхования нескольких карт;</li>
    <li>-   действует на территории всех стран;</li>
    <li>-   срок договора не ограничивается сроком действия карты;</li>
    <li>-   гибкая система скидок!</li>
</ul>
<p class="all_text">И помните!</p>
<p class="all_text">Страхование банковских карт защищает Ваши денежные средства. Поэтому при оформлении банковской карточки не стоит забывать о её страховании.</p>
<p class="all_text">Если Вам требуются дополнительные разъяснения по вопросам и условиям, либо нужна страховка карты, оставьте заявку на обратный звонок – наши специалисты свяжутся с Вами в рабочее время.</p>


<h3 class="zagolovok">Оставить заявку</h3>
<p class="all_text">Страхование онлайн в Личном кабинете Asoba - быстро, просто, в любом месте в любое время!</p>
<p class="all_text"></p>

<p class="all_text">Получить подробную консультацию по условиям страхования ОСГО и вопросам заключения договора
    страхования Вы можете:</p>
<ul class="all_text">
    <li>в управлении страхования и перестрахования в г. Минске по телефону: +375 (29) 772-05-98</li>
    <li>по адресу электронной почты: insurance@clover.by</li>
    <li>в любом офисе Clover</li>
</ul>

<p class="all_text">Также Вы можете оставить заявку в форме обратной связи – мы свяжемся с Вами и ответим на все
    интересующие вопросы.</p>

<a href="{{url_for('online_zayavka')}}" class="btn">Оставить заявку</a>

{% endblock %}
