{% extends 'base_user.html' %}

{% block Title%}
Зелёная карта для физических лиц
{% endblock %}

{% block body %}
<style>
    .photo-button {
      display: inline-block;
      text-decoration: none;
      color: black;
      margin-top: 10px;
      transition: transform 0.5s ease;

    }

    .photo-button img {
      width: 280px;
      height: auto;
      margin-right: 20px;
      margin-left: 20px;
      border-radius: 8px;
    }

    .photo-button:hover {
      transform: scale(1.05);
    }

    .text_image {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    }

    .all_textt {
    margin-top: 30px;
    font-size: 18px
    }

    .all_text {
    margin-top: 20px;
    font-size: 18px
    }

    .zagolovok {
    margin-top: 40px;
    }

    .btn {
  background-color: #02E2A6;
  width: 200px;
  height: 70px;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: transform 0.2s;
}

.btn:hover {
  background-color: #5AE8B2; /* Измените цвет на желаемый */
  color: white;
  border-color: #5AE8C6;
  transform: scale(1.05);
}
</style>

<h1>Зеленая карта</h1>
<p class="all_text"> Договор страхования «Зеленая карта» (Green Card) является международным аналогом договора внутреннего страхования (но не заменяет его на территории Республики Беларусь) и действует в 47 странах Европы, Африки и Азии.</p>
<p class="all_text"> Договор страхования «Зеленая карта» оформляется для защиты Вашей гражданской ответственности от причинения вреда (жизни и/или здоровью, имуществу) третьим лицам за рубежом.</p>
<p class="all_text"> Наличие договора страхования «Зеленая карта» — обязательное требование при въезде на автомобиле в большинство зарубежных стран. Действие договора страхования «Зеленая карта» распространяется на указанные в нем страны. До выезда из Республики Беларусь необходимо заключить договор страхования «Зеленая карта» на весь период использования автомобиля за границей, но не менее чем на 15 дней. При выезде из Республики Беларусь водитель обязан предъявить на границе договор страхования «Зеленая карта», выданный белорусской страховой компанией.</p>
<p class="all_text"> Суть системы «Зеленая карта» проста и заключается в следующем:</p>
<ul class="all_text">
    <li> если в ДТП виноват водитель иностранного ТС, то Вам возместят ущерб;</li>
    <li>если ДТП произошло по Вашей вине, нужно лишь предъявить договор страхования «Зеленая карта» представителю полиции или пострадавшему. Остальное страховая компания возьмет на себя.</li>
</ul>
<p class="all_text"> Договор страхования «Зеленая карта» принят во многих странах мира. Государства-участники системы «Зеленая карта» взаимно признают договоры страхования гражданской ответственности владельцев транспортных средств, заключенные одной из стран, и гарантируют, что в случае ДТП за границей пострадавшей стороне будет возмещен ущерб.</p>
<h3 class="zagolovok">Объекты страхования по зеленой карте</h3>

<p class="all_text"> Объектом страхования является ответственность водителя перед другими участниками движения в случае ДТП. Страховым случаем считается причинение вреда здоровью или имуществу третьих лиц в результате дорожно-транспортного происшествия за пределами Республики Беларусь.</p>
<p class="all_text"> Иными словами, по данному договору Вы страхуете не имущество в виде принадлежащего Вам автомобиля, а свою ответственность по отношению к третьим лицам за ущерб, который Вы впоследствии можете неумышленно причинить их жизни и здоровью, а так же их имуществу в результате ДТП, произошедшего за пределами Республики Беларусь.</p>
<p class="all_text">Договор страхования «Зеленая карта» заключается с владельцем транспортного средства или от его имени с водителем по транспортному средству, зарегистрированному в Республике Беларусь и выезжающему за ее пределы для его использования в дорожном движении государства — члена системы «Зеленая карта», а также с владельцем транспортного средства по транспортному средству, зарегистрированному в государстве, не являющемся членом системы «Зеленая карта», с уполномоченной организацией которого Белорусское бюро заключило соглашение об обязательном страховании гражданской ответственности владельцев транспортных средств.
<p class="all_text"> Подтверждением заключения договора страхования "Зеленая карта" является страховой сертификат, который выдается страхователю по форме, утверждаемой Белорусским бюро по согласованию с Министерством финансов.</p>
<p class="all_text">Страховой сертификат «Зеленая карта» состоит из четырех самокопирующих листов:</p>
<ul class="all_text">
    <li>первый — оригинала Зеленой карты;</li>
    <li>второй — копии Зеленой карты;</li>
    <li>третий — копии полиса обязательного страхования гражданской ответственности владельцев транспортных средств на территории стран-членов международной системы «Зеленая карта»</li>
    <li>четвертый — оригинала полиса обязательного страхования гражданской ответственности владельцев транспортных средств.</li>
</ul>

<p class="all_text">Из указанных листов страхователю выдаются первый, второй и четвертый листы страхового сертификата «Зеленая карта», а третий лист остается у страховщика.</p>
<p class="all_text">Согласно Положению о страховой деятельности в Республике Беларусь, утвержденному Указом Президента Республики Беларусь от 25.08.2006 № 530, владелец транспортного средства до выезда из Республики Беларусь в страны — члены системы «Зеленая карта» должен заключить договор страхования «Зеленая карта» на весь период использования автомобиля за границей.</p>

<p class="all_text"> Договор страхования «Зеленая карта» можно заключить на срок от 15 дней до 1 года.</p>
<p class="all_text"> Территория действия договора страхования «Зеленая карта» — страны — члены системы «Зеленая карта», указанные в договоре.</p>
<h3 class="zagolovok">Стоимость страхования по зеленой карте</h3>

<p class="all_text"> Стоимость договора страхования «Зеленая карта» одинакова во всех страховых компаниях Республики Беларусь.</p>
<p class="all_text"> От чего зависит стоимость договора страхования «Зеленая карта»:</p>

<ul class="all_text">
    <li>страны посещения;</li>
    <li>типа транспортного средства;</li>
    <li>срока действия договора страхования.</li>
</ul>

<p class="all_text">В соответствии с законодательством страховой взнос по договору страхования «Зеленая карта»  уплачивается в свободно конвертируемой  валюте или российских рублях при заключении владельцем транспортного средства (водителем) такого договора страхования, распространяющего свое действие только на территорию Российской Федерации.</p>
<p class="all_text">Для оформления договора страхования «Зеленая карта» необходим только технический паспорт на автомобиль.</p>

<h3 class="zagolovok">Дополнительная информация</h3>

<p class="all_text">Выдержки из Положения о страховой деятельности в Республике Беларусь, утвержденного Указом
    Президента Республики Беларусь от 25 августа 2006 г. №530, в редакции Указа Президента Республики Беларусь от 11 мая
    2019 №175 (Глава 13)</p>

<p class="all_text">Правила проведения ОСГОВТС, утвержденные приказом Белорусского бюро по транспортному страхованию от
    01.08.2019 № 31-од</p>

<h3 class="zagolovok">Оставить заявку</h3>


<p class="all_text">Получить подробную консультацию по условиям страхования ОСГО и вопросам заключения договора
    страхования Вы можете:</p>
<ul class="all_text">
    <li>в управлении страхования и перестрахования в г. Минске по телефону: +375 (29) 772-05-98</li>
    <li>по адресу электронной почты: insurance@asoba.by</li>
    <li>в любом офисе Clover</li>
</ul>

<p class="all_text">Также Вы можете оставить заявку в форме обратной связи – мы свяжемся с Вами и ответим на все
    интересующие вопросы.</p>

<a href="{{url_for('online_zayavka')}}" class="btn">Оставить заявку</a>

{% endblock %}
