{% extends 'base_user.html' %}

{% block Title%}
Страхование физичексих лиц
{% endblock %}

{% block body %}
<style>
    .photo-button {
      display: inline-block;
      text-decoration: none;
      color: black;
      margin-top: 10px;
      transition: transform 0.5s ease;

    }

    .photo-button img {
      width: 280px;
      height: auto;
      margin-right: 20px;
      margin-left: 20px;
      border-radius: 8px;
    }

    .photo-button:hover {
      transform: scale(1.05);
    }

    .text_image {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    }

    .all_textt {
    margin-top: 30px;
    font-size: 18px
    }

    .all_text {
    margin-top: 20px;
    font-size: 18px
    }

    .zagolovok {
    margin-top: 40px;
    }
</style>

<h1>Юридическим лицам</h1>
<p class="all_text">Страховая компания Asoba имеет большой опыт работы с различными предприятиями и организациями. Для юридических лиц мы разрабатываем уникальные страховые программы и продукты, удовлетворяющие запросам каждого бизнеса.</p>

  <a href="#" class="photo-button">
    <img src="{{url_for('static', filename = 'image/organization/transport.jpeg')}}" alt="Image 1">
    <div class="text_image">Транспорт</div>
  </a>

  <a href="#" class="photo-button">
    <img src="{{url_for('static', filename = 'image/organization/healthh.jpeg')}}" alt="Image 2">
    <div class="text_image">Здоровье</div>
  </a>

  <a href="#" class="photo-button">
    <img src="{{url_for('static', filename = 'image/organization/biznes.jpeg')}}" alt="Image 3">
    <div class="text_image">Бизнес</div>
  </a>

  <a href="#" class="photo-button">
    <img src="{{url_for('static', filename = 'image/organization/gruz.jpeg')}}" alt="Image 4">
    <div class="text_image">Грузоперевозки</div>
  </a>

  <p class="all_textt"> Организация страхования юридических лиц – одно из приоритетных направлений деятельности компании Asoba. Мы обладаем большим опытом работы с национальными и зарубежными предприятиями различных профилей, специализаций и масштабов, что позволяет оказывать широкий спектр страховых услуг на высоком профессиональном уровне.</p>

  <h3 class="zagolovok">Направления оказываемых услуг</h3>

  <p class="all_text"> Мы предлагаем классическое страхование юр лиц, а также уникальные страховые продукты и программы, которые разрабатываются под каждого конкретного Клиента с учетом его деловой активности, отраслевой направленности, отраслевых особенностей бизнеса и прочих факторов:</p>

  <ul class="all_text">
    <li>Автострахование – обеспечивает финансовую защиту организации при возникновение непредвиденных расходов, связанных с аварийным ремонтом, конструктивной гибелью или кражей застрахованных транспортных средств.</li>
    <li>Страхование здоровья – минимизирует материальные расходы, которые возникают при болезни или смерти сотрудников, а также позитивно влияет на имиджевую составляющую любой коммерческой структуры, повышая лояльность со стороны потенциальных работников.</li>
    <li>Комплексное страхование бизнеса – широкая линейка страховых программ, направленных на защиту имущественных интересов предпринимателей, их активов, интеллектуальной и прочей собственности.</li>
    <li>Страхование грузоперевозок – защищает грузы в автомобильных, железнодорожных, воздушных, водных перевозках по Беларуси и всему миру, позволяет полностью покрывать ущербы и потери, нанесенные при утере, краже груза и других страховых случаях.</li>
  </ul>

  <p class="all_text">Приобретая страховой полис в Asoba Вы сможете предупредить риск финансовых и имиджевых потерь в случаях причинения вреда жизни, здоровью сотрудников или порчи имущества, собственности, активов.</p>


  <h3 class="zagolovok">Преимущества обслуживания в Clover</h3>
  <p class="all_text">Наша компания реализовала наиболее комфортную и полностью прозрачную схему взаимодействия с юридическими лицами:</p>

  <ul class="all_text">
    <li>Фиксированные и объективные цены на весь спектр страховых услуг.</li>
    <li>Индивидуальный подход к каждому страхователю.</li>
    <li>Широкое региональное присутствие – наши филиалы и пункты продаж представлены во всех крупных городах, а также различных населенных пунктах Беларуси.</li>
    <li>Возмещение понесенных убытков в кратчайшие сроки в результате наступления страхового случая.</li>
  </ul>

  <p class="all_text">Звоните по телефону +375 (17) 375-80-64 или оставляйте онлайн-отклик на сайте, чтобы узнать больше о том, что включает добровольное страхование организации, наших ценах, преимуществах и гарантийных обязательствах. Менеджеры ответят на имеющиеся вопросы и подберут оптимальный страховой продукт.</p>
{% endblock %}
