{% extends 'base_user.html' %}

{% block Title%}
ОСГО комплексное для физических лиц
{% endblock %}

{% block body %}
<style>
    .photo-button {
      display: inline-block;
      text-decoration: none;
      color: black;
      margin-top: 10px;
      transition: transform 0.5s ease;

    }

    .photo-button img {
      width: 280px;
      height: auto;
      margin-right: 20px;
      margin-left: 20px;
      border-radius: 8px;
    }

    .photo-button:hover {
      transform: scale(1.05);
    }

    .text_image {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    }

    .all_textt {
    margin-top: 30px;
    font-size: 18px
    }

    .all_text {
    margin-top: 20px;
    font-size: 18px
    }

    .zagolovok {
    margin-top: 40px;
    }

    .btn {
  background-color: #02E2A6;
  width: 200px;
  height: 70px;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: transform 0.2s;
}

.btn:hover {
  background-color: #5AE8B2; /* Измените цвет на желаемый */
  color: white;
  border-color: #5AE8C6;
  transform: scale(1.05);
}
</style>

<h1>ОСГО комплексное</h1>
<p class="all_text"> В случае если Вам, как владельцу транспортного средства, необходимо застраховать не только свою
    ответственность, но и само транспортное средство вместо договора внутреннего страхования Вы вправе заключить договор
    комплексного внутреннего страхования.</p>
<p class="all_text"> Согласно действующему законодательству для участия в дорожном движении каждый автовладелец обязан
    иметь или договор внутреннего страхования, или договор комплексного внутреннего страхования.</p>
<p class="all_text"> Договор комплексного внутреннего страхования включает в себя обязательное страхование гражданской
    ответственности владельцев транспортных средств и страхование Вашего автомобиля на случай повреждения в ДТП по Вашей
    вине.</p>
<p class="all_text"> Договор комплексного страхования — это гарантия возмещения ущерба пострадавшим в ДТП, а также
    гарантия оплаты расходов на ремонт Вашего транспортного средства, пострадавшего в ДТП по Вашей вине.</p>
<p class="all_text"> Обращаем Ваше внимание, что договор комплексного страхования действует только при ДТП с участием не
    менее двух транспортных средств, при условии, что страхователь является виновником этого ДТП.</p>

<h3 class="zagolovok">Страховые случаи</h3>


<p class="all_text"> По договору комплексного страхования не оплачиваются угон, повреждение или гибель транспортного
    средства в результате пожара или причинение ущерба транспортному средству третьими лицами (например, кража зеркал,
    магнитолы и пр. оборудования) и пр. Для защиты от этих рисков рекомендуем приобрести страховой договор КАСКО.</p>
<p class="all_text"> Законодательством установлены следующие лимиты ответственности по договору комплексного страхования
    за вред, причиненный в результате ДТП:</p>

<ul class="all_text">
    <li>жизни или здоровью потерпевшего — 10 000 евро;</li>
    <li>имуществу потерпевшего — 10 000 евро;</li>
    <li>транспортному средству страхователя по договору комплексного страхования — 10 000 евро.</li>
</ul>

<p class="all_text">Это означает, что при наступлении страхового случая мы оплатим причиненный Вами в ДТП ущерб, также
    вред Вашему автомобилю в пределах указанных сумм. Если размер ущерба превысит наши лимиты ответственности, Вам
    придется возместить недостающую сумму за счет собственных средств.</p>

<ul class="all_text">
    <li>жизни или здоровью потерпевшего — 10 000 евро (из них не более 4 000 евро — на возмещение расходов, связанных с
        погребением потерпевшего);
    </li>
    <li>имуществу потерпевшего — 10 000 евро.</li>
</ul>

<p class="all_text">Это означает, что при наступлении страхового случая мы оплатим причиненный Вами в ДТП ущерб, также
    вред Вашему автомобилю в пределах указанных сумм. Если размер ущерба превысит наши лимиты ответственности, Вам
    придется возместить недостающую сумму за счет собственных средств.</p>


<h3 class="zagolovok">Страховой взнос</h3>

<p class="all_text"> Условия и стоимость договора комплексного страхования во всех страховых компаниях одинаковы. Стоимость договора комплексного внутреннего страхования зависит от типа и технических характеристик транспортного средства, местожительства, возраста и водительского стажа владельца транспортного средства, аварийности использования транспортного средства, сроков страхования.</p>
<p class="all_text"> Для оформления договора комплексного внутреннего страхования потребуются:</p>

<ul class="all_text">
    <li>технический паспорт на автомобиль или иной документ, подтверждающий право на владение этим транспортным средством;</li>
    <li>доверенность на автомобиль, если договор страхования заключает несобственник;</li>
    <li>документ, удостоверяющий личность (паспорт, вид на жительство или удостоверение беженца);</li>
    <li>предъявить транспортное средство для осмотра и фотографирования.</li>
</ul>

<p class="all_text">Срок действия договора комплексного страхования составляет от 6 месяцев до 1 года.</p>
<p class="all_text">Страховой взнос уплачивается единовременно при заключении договора. Страховой взнос по договору, заключенному сроком на 1 год, может быть оплачен в два этапа.</p>


<h3 class="zagolovok">Оставить заявку</h3>


<p class="all_text">Получить подробную консультацию по условиям страхования ОСГО и вопросам заключения договора
    страхования Вы можете:</p>
<ul class="all_text">
    <li>в управлении страхования и перестрахования в г. Минске по телефону: +375 (29) 772-05-98</li>
    <li>по адресу электронной почты: insurance@asoba.by</li>
    <li>в любом офисе Clover</li>
</ul>

<p class="all_text">Обратите внимание на действующую в страховой компании Асоба услугу внутреннее ОСГОВТС.</p>

<p class="all_text">Также Вы можете оставить заявку в форме обратной связи – мы свяжемся с Вами и ответим на все
    интересующие вопросы.</p>

<a href="{{url_for('online_zayavka')}}" class="btn">Оставить заявку</a>

{% endblock %}
