{% extends 'base_user.html' %}

{% block Title%}
Страхование физичексих лиц
{% endblock %}

{% block body %}
<style>
    .photo-button {
      display: inline-block;
      text-decoration: none;
      color: black;
      margin-top: 10px;
      transition: transform 0.5s ease;

    }

    .photo-button img {
      width: 389px;
      height: auto;
      margin-right: 20px;
      margin-left: 20px;
      border-radius: 8px;
    }

    .photo-button:hover {
      transform: scale(1.05);
    }

    .text_image {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    }

    .all_textt {
    margin-top: 30px;
    font-size: 18px
    }

    .all_text {
    margin-top: 20px;
    font-size: 18px
    }

    .zagolovok {
    margin-top: 40px;
    }
</style>

<h1>Физическим лицам</h1>
<p class="all_text">Страховая компания Clover предлагает широкий спектр программ страхования для физических лиц:</p>

  <a href="{{url_for('personal_transport')}}" class="photo-button">
    <img src="{{url_for('static', filename = 'image/personal/car.jpeg')}}" alt="Image 1">
    <div class="text_image">Транспорт</div>
  </a>

  <a href="{{url_for('personal_health')}}" class="photo-button">
    <img src="{{url_for('static', filename = 'image/personal/health.jpeg')}}" alt="Image 2">
    <div class="text_image">Здоровье</div>
  </a>

  <a href="{{url_for('personal_imushestvo')}}" class="photo-button">
    <img src="{{url_for('static', filename = 'image/personal/build.jpeg')}}" alt="Image 3">
    <div class="text_image">Имущество</div>
  </a>


  <p class="all_textt"> Страхование физических лиц – одно из приоритетных направлений компании Clover. Высоко ценим доверие клиентов и собственную наработанную годами безупречную репутацию. Мы оказываем всестороннюю поддержку для обеспечения финансового благополучия при <b>наступлении несчастного</b> случая, происшествия или иного страхового случая.</p>

  <h3 class="zagolovok">Направления оказываемых услуг</h3>

  <p class="all_text"> В наличии классические страховые услуги, полисы с индивидуальными условиями и комплексные программы с фиксированными страховыми суммами и премиями:</p>

  <ul class="all_text">
    <li>Автострахование - внутреннее и комплексное <b>ОСГО ВТС, Зеленая карта, КАСКО</b>. Защищают ваши финансовые ресурсы при возникновении дорожно-транспортных происшествий или при повреждении автомобиля.</li>
    <li><b>Имущество</b> можно застраховать как объект недвижимости в целом (квартиры, дома, загородные коттеджи, прочие жилые строения и сооружения), так и отдельные элементы, например, отделку, дизайн, антиквариат и т.д.</li>
    <li>Здоровье. Предлагаем страхование от несчастных случаев для всей семьи.</li>
    <li>Путешествия. Мы поможем избежать дополнительных расходов и трудностей, связанных с причинением ущерба здоровью или имуществу во время туристических поездок по РБ и за границу.</li>
  </ul>


  <h3 class="zagolovok">Почему выбирают страховую компанию Clover</h3>
  <p class="all_text">Мы предоставляем максимально удобные условия взаимодействия с Клиентами, а также действительно выгодные условия обслуживания:</p>

  <ul class="all_text">
    <li>Доступные и объективные цены на страховые продукты, сервисы.</li>
    <li>Индивидуальный подход к каждому страхователю.</li>
    <li>Мгновенная обработка заявок и обращений.</li>
    <li>Гарантия покрытия возмещения понесенных убытков в кратчайшие сроки в результате наступления страхового случая.</li>
  </ul>

  <p class="all_text">Звоните по номеру: +375 (29) 772-05-98 или оставляйте онлайн-сообщение на сайте, если требуется страховка физического лица. Наши менеджеры предоставят бесплатную консультацию и подробные ответы на имеющиеся вопросы.</p>
{% endblock %}
