{% extends 'base_user.html' %}

{% block Title%}
Страхование здоровья для физическиз лиц
{% endblock %}

{% block body %}
<style>
    .photo-button {
      display: inline-block;
      text-decoration: none;
      color: black;
      margin-top: 10px;
      transition: transform 0.5s ease;
    font-size: 18px

    }

    .photo-button img {
      width: 600px;
      height: auto;
      margin-right: 20px;
      margin-left: 20px;
      border-radius: 8px;
    }

    .photo-button:hover {
      transform: scale(1.05);
    }

    .text_image {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    }

    .all_textt {
    margin-top: 30px;
    font-size: 18px
    }

    .all_text {
    margin-top: 20px;
    font-size: 18px
    }

    .zagolovok {
    margin-top: 40px;
    }
</style>

<h1>Страхование имущества для физических лиц</h1>
<p class="all_text">Clover, основываясь на многолетний опыт работы, предлагает широкую линейку страховых продуктов для
    защиты имущественных интересов физических лиц.Наши страховые продукты помогут защитить Ваш семейный бюджет от
    возможных финансовых потерь.</p>

<p class="all_text">Заключив договор страхования в Clover Вы получаете не просто надежную защиту объектов недвижимости и
    различных ценностей, находящихся в Вашей собственности от широкого спектра рисков, но и индивидуальный подход с
    исключительно удобным сервисом.</p>

<a href="{{url_for('living_house')}}" class="photo-button">
    <img src="{{url_for('static', filename = 'image/personal_imushestvo/buildd.jpeg')}}" alt="Image 1">
    <div class="text_image">Жилые помещения</div>
</a>

<a href="{{url_for('credit_card')}}" class="photo-button">
    <img src="{{url_for('static', filename = 'image/personal_imushestvo/cardd.jpeg')}}" alt="Image 2">
    <div class="text_image">Банковские карты</div>
</a>

<p class="all_textt">Страхование имущества в Беларуси – наиболее эффективный и надежный способ защитить свою недвижимость и предотвратить значительные финансовые потери, которые связаны с его порчей. Компания Asoba предлагает большой выбор различных программ и сервисов, направленных на возмещение убытков, понесенных от пожаров, затоплений, природных катаклизмов и прочих внешних факторов. У нас вы можете застраховать как объект недвижимости в целом (квартиры, дома, загородные коттеджи, прочие жилые строения и сооружения), так и домашнее имущество, ответственность перед соседями. Кроме того, мы предлагаем комбинированное страхование всего перечисленного в комплексе.</p>

<h3 class="zagolovok">Для чего нужен полис страхования имущества?</h3>

<p class="all_textt">Наши услуги пользуются активной популярностью, потому что страхование недвижимости позволяет покрывать убытки, возникающие в результате:</p>

<ul class="all_text">
    <li>Пожаров, преднамеренных или непреднамеренных поджогов, взрывов.</li>
    <li>Залитий и затоплений.</li>
    <li>Противоправных действий третьих лиц – кражи, хищения, взломы, разбои.</li>
    <li>Стихийных бедствий, в том числе землетрясения, наводнения, ураганы и т.д.</li>
</ul>

<p class="all_text">Приобретая страховой полис в Asoba вы сможете защитить свои финансовые ресурсы в случаях причинения вреда жизни, здоровью или порчи имущества третьим лицам. Например, когда вред нанесен имуществу соседей в результате неисправности электропроводки, водопроводных, вентиляционных и прочих систем, инженерных коммуникаций в вашей квартире, доме, коттедже, гараже или другом помещении.</p>
<p class="all_text">Стоимость страхования имущества в нашей компании установлена на максимально доступном уровне. При этом мы всегда гарантируем исполнение взятых на себя обязательств и возмещение понесенных убытков в кратчайшие сроки в результате наступления страхового случая.</p>

<h3 class="zagolovok">Преимущества компании Clover</h3>

<p class="all_text">Страхование имущества граждан осуществляем на следующих условиях:</p>

<ul class="all_text">
    <li>Прозрачное ценообразование – никаких скрытых комиссий, наценок и сборов.</li>
    <li>Индивидуальный подход к каждому страхователю, разработка персональных пакетов страховых услуг и сервисов.</li>
    <li>Широкое региональное присутствие – наши отделения и филиалы представлены во всех крупных городах, а также различных населенных пунктах Беларуси.</li>
</ul>

<p class="all_text">Звоните по телефону: +375(29)772-05-98 или оставляйте онлайн-заявку на сайте, чтобы получить
    бесплатную консультацию, предварительный расчет и ответы на имеющиеся вопросы. Помните, что страховка здоровья – это
    эффективная инвестиция в будущее.</p>

{% endblock %}
