{% extends 'base_user.html' %}

{% block Title%}
Страхование транспорта для физическиз лиц
{% endblock %}

{% block body %}
<style>
    .photo-button {
      display: inline-block;
      text-decoration: none;
      color: black;
      margin-top: 10px;
      transition: transform 0.5s ease;

    }

    .photo-button img {
      width: 280px;
      height: auto;
      margin-right: 20px;
      margin-left: 20px;
      border-radius: 8px;
    }

    .photo-button:hover {
      transform: scale(1.05);
    }

    .text_image {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    }

    .all_textt {
    margin-top: 30px;
    font-size: 18px
    }

    .all_text {
    margin-top: 20px;
    font-size: 18px
    }

    .zagolovok {
    margin-top: 40px;
    }
</style>

<h1>Страхование автомобиля</h1>
<p class="all_text">Автострахование – это надежный способ избежать финансовых потерь при угоне, повреждении автомобиля и причинении вреда имуществу и здоровью третьих лиц.</p>
<h3 class="zagolovok">Clover предлагает следующие виды договоров страхования транспорта:</h3>

  <a href="{{url_for('osgo_vn')}}" class="photo-button">
    <img src="{{url_for('static', filename = 'image/personal_transport/OCGO.jpeg')}}" alt="Image 1">
    <div class="text_image">ОСГО внутреннее</div>
  </a>

  <a href="{{url_for('osgo_komp')}}" class="photo-button">
    <img src="{{url_for('static', filename = 'image/personal_transport/OSGO_kompleks.jpeg')}}" alt="Image 2">
    <div class="text_image">ОСГО комплексное</div>
  </a>

  <a href="{{url_for('green_card')}}" class="photo-button">
    <img src="{{url_for('static', filename = 'image/personal_transport/green_card.jpeg')}}" alt="Image 3">
    <div class="text_image">Зелёная карта</div>
  </a>

  <a href="{{url_for('kasko')}}" class="photo-button">
    <img src="{{url_for('static', filename = 'image/personal_transport/KASKO.jpeg')}}" alt="Image 4">
    <div class="text_image">КАСКО</div>
  </a>

  <p class="all_textt"> Страховка авто в Беларуси и других городах Республики Беларусь от компании Asoba — это надежный и эффективный способ избежать финансовых потерь при повреждении, угоне, вскрытии транспортного средства или в случае причинении вреда здоровью и имуществу третьих лиц.</p>
  <p class="all_textt"> Наша компания оказывает расширенный спектр страховых услуг, а также реализует большой пакет стандартных и персонализированных страховых сервисов, продуктов, направленных на возмещение убытков от различных неприятностей, с которыми могут столкнуться автомобилисты на дорогах.</p>
  <h3 class="zagolovok">Варианты автострахования</h3>

  <p class="all_text"> Нашим клиентам доступна страховка автомобиля в Минске и других городах Беларуси следующих видов:</p>

  <ul class="all_text">
    <li><b>ОСГО внутреннее</b> – обязательное страхование гражданской ответственности, которое избавит от материальных и временных затрат при попадании в ДТП в случае причинения вреда третьим лицам в результате аварий, столкновений, наездов.</li>
    <li><b>ОСГО комплексное</b> – предполагает страхование не только гражданской ответственности, но и непосредственно транспортного средства. Это оптимальный вариант для тех, кто заботится о будущем и привык инвестировать в стабильность, безопасность.</li>
    <li><b>Зелёная карта</b> – международное страхование, действующее на территории 47 стран Европы, Азии и Африки. Обеспечит высокий уровень защиты гражданской ответственности страхователя за границей во время деловых поездок или путешествий.</li>
    <li><b>КАСКО</b> – комплексное страхование автомобиля, которое позволит получать денежные компенсации не только при ДТП и авариях, но и в случаях угона, повреждения, хищения частей, деталей и комплектующих авто.</li>
  </ul>

  <p class="all_text">Стоимость автострахования зависит от многочисленных факторов, среди которых тип, модель, поколение и цена машины, условия ее хранения и эксплуатации, территории действия договора страхования и т.д. Звоните или оставляйте онлайн-заявку, чтобы получить актуальный прайс наших услуг и сервисов, а также бесплатную консультацию у специалиста.</p>

  <h3 class="zagolovok">Причины, по которым выбирают компанию Clover</h3>
  <p class="all_text">Оформляем ОСГО ВТС, КАСКО и Зеленую карту на максимально выгодных условиях:</p>

  <ul class="all_text">
    <li>Честное и доступное ценообразование.</li>
    <li>Объективность при оценке ущерба и потерь.</li>
    <li>Индивидуальный подход к каждому Клиенту.</li>
    <li>Возмещение понесенных убытков в кратчайшие сроки в результате наступления страхового случая.</li>
  </ul>

  <p class="all_text">Обращайтесь в компанию Clover, чтобы иметь доступ к качественному и ответственному страхованию, быть на 100% уверенным в финансовой защищенности. Звоните по телефону +375 (17) 375-80-64 или пишите, чтобы уже сегодня оформить автострахование в Минске или других городах Республики Беларусь – наши филиалы и отделения представлены во всех городах Беларуси.</p>
{% endblock %}
