{% extends 'base_user.html' %}

{% block Title%}
Страхование здоровья для физическиз лиц
{% endblock %}

{% block body %}
<style>
    .photo-button {
      display: inline-block;
      text-decoration: none;
      color: black;
      margin-top: 10px;
      transition: transform 0.5s ease;
    font-size: 18px

    }

    .photo-button img {
      width: 600px;
      height: auto;
      margin-right: 20px;
      margin-left: 20px;
      border-radius: 8px;
    }

    .photo-button:hover {
      transform: scale(1.05);
    }

    .text_image {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    }

    .all_textt {
    margin-top: 30px;
    font-size: 18px
    }

    .all_text {
    margin-top: 20px;
    font-size: 18px
    }

    .zagolovok {
    margin-top: 40px;
    }
</style>

<h1>Добровольное медицинское страхование</h1>
<p class="all_text">Страховой полис — это гарантия получения качественной медицинской помощи при наступлении страхового
    случая, а также покрытия всех расходов на лечение.</p>

<a href="{{url_for('passangers_voditel')}}" class="photo-button">
    <img src="{{url_for('static', filename = 'image/personal_health/pas_vod.jpeg')}}" alt="Image 1">
    <div class="text_image">Пассажиры и водители</div>
</a>

<a href="{{url_for('neschastnyu')}}" class="photo-button">
    <img src="{{url_for('static', filename = 'image/personal_health/nesch.jpeg')}}" alt="Image 2">
    <div class="text_image">Несчастные случаи</div>
</a>

<p class="all_textt">Добровольное страхование жизни – современный и эффективный способ обеспечения финансовой
    стабильности, безопасности и независимости в случаях причинения вреда вашему здоровью или жизни.</p>

<p class="all_textt">Компания Clover предлагает большой выбор страховых продуктов, направленных на возмещение убытков от
    различных происшествий, которые могут негативно сказаться на вашей трудоспособности, активности и качестве жизни. С
    нашей помощью вы в разы минимизируете финансовые потери, вызванные проблемами со здоровьем и
    нетрудоспособностью.</p>

<h3 class="zagolovok">Для чего необходимо личное страхование жизни?</h3>

<p class="all_text"> Страховой полис – это гарантия на получение  денежных компенсаций, наступлении страхового события, предусмотренного договором страхования. У нас можно оформить как индивидуальные пакеты, так и групповые страховки (для родственников и компании друзей).</p>

<h3 class="zagolovok">Преимущества компании Clover</h3>

<p class="all_textt">Мы полностью ориентированы на сотрудничество с нашими Клиентами, которым предлагаем:</p>

<ul class="all_text">
    <li>Высокий уровень профессионализма наших сотрудников с многолетним опытом в страховании.</li>
    <li>Рассмотрение заявлений о страховом случае в кратчайшие сроки.</li>
    <li>Индивидуальный подход к каждому Клиенту</li>
    <li>Широкое региональное присутствие – наши филиалы и пункты продаж представлены во всех крупных городах, а также многих населенных пунктах Беларуси.</li>
</ul>


<p class="all_text">Звоните по телефону: +375(29)772-05-98 или оставляйте онлайн-заявку на сайте, чтобы получить бесплатную консультацию, предварительный расчет и ответы на имеющиеся вопросы. Помните, что страховка здоровья – это эффективная инвестиция в будущее.</p>

{% endblock %}
